<tr id="<%= dom_id patient %>">
  <td>
    <%= patient.first_name %>
  </td>

  <td>
    <%= patient.last_name %>
  </td>

  <td>
    <%= patient.phone_number %>
  </td>

  <td>
    <%= patient.slot %>
  </td>

  <td>
    <%= patient.cause %>
  </td>
  <td>
    <%= link_to "Show", patient %>
  </td>
  <% if current_user_auth.role != "doctor" %>
    <td>
      <%= link_to "Edit", edit_patient_path(patient) %>
    </td>
    <td>
      <%= button_to "Delete", patient, method: :delete, class:"btn btn-danger" %>
    </td>
  <% end %>
</tr>
