<p style="color: green"><%= notice %></p>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Name: <%= @patient.first_name + " "+ @patient.last_name %></h5>
    <p class="card-text">Phone number: <%= @patient.phone_number %></p>
    <p class="card-text">Slot: <%= @patient.slot %></p>
    <p class="card-text">Cause: <%= @patient.cause %></p>
    <div class="d-flex gap-3">
      <%= link_to "Back", patients_path, class: "btn btn-primary" %>
      <% if current_user_auth.role != "doctor" %>
        <%= link_to "Edit", edit_patient_path(@patient), class: "btn btn-secondary" %>
        <%= button_to "Delete", @patient, method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
